.product{
    display: flex;
    padding: 10px;
    margin: 10px;
    gap: 50px;
    margin-top: 100px;
}
.product_about{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.product_c{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.product_price{
    font-size: 30px;
    color: blue ;
}